.navigation {
    display: inline-block;
    vertical-align: middle;
}
.li-item {
    display: inline-block;
    margin-right: 24px;

}
.logo-item {
    vertical-align: middle;
    margin-right: 38px;
}
.header-element {
    width: 1440px;
    height: 96px;
}