.navigation {
    display: inline-block;
    vertical-align: middle;
}
.li-item {
    display: inline-block;
    margin-right: 24px;

}
.logo-item {
    vertical-align: middle;
    margin-right: 38px;
}
.header-element {
    width: 1440px;
    height: 96px;
}
/* 1section */
.wraper {
    display: flex;
   

}

.title1 {
    font-weight: 900px;
    font-size: 56px;
}
.left-block {
    width: 490px;
    height: 288px;
    text-align: center;
    margin-right: 130px;
}
.right-block {
    width: 490px;
    height: 428px;
      
} 
 @media (max-width:1024px) {
   .wraper {
    flex-direction: column;
   } 
 }
/* section2 */
.wraper2 {
    display: flex;
    background-color:#F3F3F3 ;
    width: 1440px;
    height: 244,2px;
    justify-content: space-between;

}

.box {
    width: 360px;
    height: 116,2px;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;

}
.name {
    margin-bottom: 29,36px;
}
     @media (max-width:744px) {
       .wraper2 {
        flex-direction: column;
       } 
     }


.section3 {
    width: 1440px;
    height: 620px;
    background-color:#000000 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.wraper3 {
    width: 1140px;
    height: 428px;
    display: flex;

}
.picture-block {
    width: 503,5px;
    height: 428px;
    margin-right: 133px;
}
.text-block {
    width: 503,5px;
    height: 264px;
    text-align: center;
    margin: auto;
}

.name2 {
    font-weight: 900px;
    font-size: 24px;
    color: #FFFFFF;
}
.name3 {
    color: #FFFFFF;
}
.text-item {
    color: #FFFFFF
}
.picture-item {
 width: 1440px;
 height: 564px;
 position: relative;
 display: inline-block;
 background-image: url(https://5.imimg.com/data5/SELLER/Default/2023/6/317415927/HV/XW/QM/123361265/3d-interior-rendering-500x500.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 
 

 
}

    

.picture-name {
    position: absolute;
    font-weight: 540px;
    font-size: 96px;
    
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    color: white;
}
.footer-element {
    background-color:#000000 ;
    padding-top: 96px;
    padding: bottom 96px; 
    padding-right: 150px;
    display: inline-block;
}

.footer-block {
 border-width: 1px;
 border-style: solid;
 border-color: blue;
 justify-content: space-between;
}
.footer-block-1 {
    display: inline-block;
    vertical-align: top; 
}
.footer-block-2 {
     display: inline-block;
    vertical-align: top;
}
.footer-block-3 {
     display: inline-block;
    vertical-align: top;
}
.footer-block-4 {
     display: inline-block;
    vertical-align: top;
}
.footer-block-5 {
     display: inline-block;
    vertical-align: top;
}
.li-item {
    color: white;
}
.title-item {
    color: white;
}
.text-name {
    color: white;
}
.navigation-1 {
    display: inline-block;
}

